In [ ]:
# python
-topics covered
    1.operators
    2.datatypes
    3.conditional statement

In [ ]:
##### print("gitam",end=" ")
print("gitam")

In [18]:
a=10
a

10

In [3]:
a=10
print(a)
a*10

10

100

In [4]:
b=10
a+b

20

In [5]:
name="gitam"20
print(name)

gitam

In [6]:
print(name)

gitam

In [7]:
address="hyd"
print("university name",name,"place",address)

university name gitam place hyd

In [8]:
name+="university"

In [9]:
print(name)

gitamuniversity

In [10]:
input()

20

'20'

In [11]:
input("enter the name")

enter the namedinesh

'dinesh'

In [17]:
a =input()
print(a)
type(a)

20
20

str

In [13]:
int(input())

20

20

In [14]:
b=int(input())
type(b)

20

int

In [31]:
a=int(input("enter the value"))
b=input("enter the value")
print(a,b)
print(type(a))
print(type(b))

enter the value20
enter the valuez
20 z
<class 'int'>
<class 'str'>

In [32]:
x=1
y=12.4
z="true"
a="dinesh"
print(type(x),type(y),type(z),type(a))

<class 'int'> <class 'float'> <class 'str'> <class 'str'>

In [28]:
z=1+2j
print(type(z))

<class 'complex'>

In [29]:
x=1
x=complex(x)
print(x)

(1+0j)

In [30]:
x=1.1
x=complex(x)
print(x)

(1.1+0j)

In [2]:
c=complex(2,4)
print(c)

(2+4j)

In [3]:
2+4

6

In [4]:
x=10
x=str(x)
print(type(x))

<class 'str'>

In [5]:
b=True
print(type(b))

<class 'bool'>

In [7]:
x=10
print(type(x))
x=float(x)
print(type(x))
print(x)

<class 'int'>
<class 'float'>
10.0

#### 1.arithmetic operator:+,-,*,/,%,//,**
#### 2.logical operator:and,or,not
#### 3.relation operator:<,>,<=,=>,!=,==
#### 4membership operator:in&not in

In [16]:
print(4+5)
print(4-5)
print(4*5)
print(4/2)
print(4//2)
print(4%2)
print(2**4)

9
-1
20
2.0
2
0
16

In [17]:
a=20
b=60
print(a>=10 and a<=15)

False

In [37]:
a=20
b=60
print(a>=10 or a<=15)

True

In [26]:
a="False"

In [35]:
a=10
b=20
x=a>b
print(x)

False

In [36]:
print(not x)

True

In [39]:
a=True
print(not a)

False

In [41]:
str1="abc"
print("c" in str1)

True

In [43]:
str1="abc"
print("d" not in str1)

True

In [45]:
a=10
if a:
    print("yes")

yes

In [49]:
a=int(input("enter a no"))
if a%2==0:
    print("even")
else:
    print("odd")

enter a no20
even

# if statements
### if condition:(body)
### elif condition:(body)
### else:(body)

In [57]:
a=int(input("enter the value"))
if a%3==0 and a%5==0:
        print("yes")
else:
    print("no")

enter the value15
yes

In [59]:
a=int(input("enter a value"))
b=int(input("enter a value"))
c=int(input("enter a value"))
if a>b and a>c:
 print("a is greater")
if b>a and b>c: 
 print("b is greater")
if c>b and c>a:
 print("c is greater")

enter a value1
enter a value2
enter a value3
c is greater

In [62]:
a=int(input("enter a value"))
if a>0:
    print("+ve")
elif a==0:
    print("0")
else:
    print("-ve")

enter a value-311
-ve

In [2]:
n=int(input("enter a no"))
if((n%4==0 and n%100!=0) or n%400==0):
    print("it is leap year")
else:
    print("it is not leap year")

enter a no2000
it is leap year

In [ ]:
i=1
while(i<=10):
    print(i)
    i=i+1

In [71]:
a=[1,2,4,4,5]
for i in a:
    print(i)

1
2
4
4
5

**python**

*python*
***python***